.product {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(205, 235, 207);
    border-radius: 15px;
}

.details__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}